  <div class = "gameboard">
    <table class="racer_table">
      
      <tr id="player1_strip">
        <h2 id="versus1"><%= @player1.name %></h2> versus<h2 id="versus2"><%= @player2.name %></h2>
        <td></td>
      </tr>

      <tr id="player2_strip">
        
       <td></td>
      </tr>
    </table>
  </div>
