
<div class="container">
  
  <div class="login">

    <form method="post" action="/game/create">

      <input id="player1" type="text" placeholder="Player 1 Name" name="name1">

      <input id="player2" type="text" placeholder="Player 2 Name" name="name2">

      <input id="board" type="integer" placeholder="Board Length" name="board_length">

      <input type="submit" value="Play!">
    </form>

  </div>

<!--   <div class = "gameboard">
    <table class="racer_table">
      <tr id="player1_strip">
        <td></td>
      </tr>
      <tr id="player2_strip">
       <td></td>
      </tr>
    </table>
  </div>
 -->
</div>
