
<div class="container">
  <div id="game">
    <div class = "gameboard">
    <table class="racer_table">
      
      <tr id="player1_strip">
        <h2 id="versus1"></h2>
        <td></td>
      </tr>

      <tr id="player2_strip">
        
       <td></td>
      </tr>
    </table>
  </div>
  </div>
</div>
