
<div class="container">
  
  <div class="login">

    <form method="post" action="/hello">
      <input type="text" placeholder="Player 1 Name" name="name1">
      <input type="text" placeholder="Player 2 Name" name="name2">
      <input type="integer" placeholder="Board Length" name="board_length">
      <input type="submit" value="Play!">
    </form>

  </div>

  <div class = "gameboard">
    <table class="racer_table">
      <tr id="player1_strip">
        <td></td>
      </tr>
      <tr id="player2_strip">
       <td></td>
      </tr>
    </table>
  </div>

</div>
