<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="js/application.js"></script>

  <title></title>
</head>
<body>
  <h1> JAVASCRIPT RACEEEEERRR </h1>
    <div class="login">

    <form method="post" action="/game/create">

      <input id="player1" type="text" placeholder="Player 1 Name" name="name1">

      <input id="player2" type="text" placeholder="Player 2 Name" name="name2">

      <input id="board" type="integer" placeholder="Board Length" name="board_length">

      <input type="submit" value="Play!">
    </form>

  </div>
  <%= yield %>
  <div id="winner"></div>
  <button id='restart'>RESTART</button>
</body>
</html>
